:root {
    /*Definimos los colores, root sirve para declarar variables en css*/
    --white: #FFFFFF;
    --dark: #2b2b2b;
    --dark2: #3a3a3a;
    --primary: #4CAF50;
    --secondary: #FEE914;
    --purple: #b700ff;
}

html {
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #000000 0%, #9e9e9e);
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--dark);
}

header h1 span {
    font-weight: 100;
    font-size: 1.5rem;
}

.navegador {
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
}

.navegador a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
    height: 100%;
    padding: 1rem;
}

.navegador a:hover{
    background-color: var(--white);
    color:var(--dark);
    border-radius: 1rem;
    transition: 0.4s;
}

.banner {
    background-image: url("/img/fondo2.jpg");
    color: var();
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.sectionBanner {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.sectionBanner img {
    width: 4rem;

}

.sectionBanner p {
    margin: 0;
    display: flex;
    align-items: center;
}

.boton {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5em 0.25em;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.boton:hover {
    background-color: white;
    color: black;
}

@media(max-width: 500px) {
    .boton {
        width: 100%;
    }

    .navegador {
        flex-direction: column;
        align-items: center;
    }

    .navegador a {
        padding: 1rem;
        font-size: 1.3rem;
        border-bottom: solid white 1px;
        text-align: center;
        width: 100%;
    }

}

.container {
    background-color: var(--white);
    margin: auto;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(255, 255, 255, 0.42);
    -moz-box-shadow: 10px 10px 24px 0px rgba(255, 255, 255, 0.42);
    box-shadow: 10px 10px 24px 0px rgba(255, 255, 255, 0.42);
    margin: 1rem;
    text-align: center;
}

.container section>h2 {
    font-size: 2.5rem;
}

.secciones {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.secciones section{
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin: .5rem
}

.secciones img {
    width: 100px;
    background-color: lightgray;
    border-radius: 43%;
    padding: 2rem;
}

.secciones section>p {
    text-align: justify;
    padding: 1em;
}

@media(min-width:1200px) {
    .container {
        width: 75%;
        margin: auto;
        margin-top: 1.5rem;
    }

    .secciones {
        flex-direction: row;
    }
}

@media(max-width: 760px) {
    .secciones {
        flex-direction: column;
    }
}

.formulario {
    background-color: var(--dark);
    border-radius: 1rem;
    width: min(80rem, 100%);
    /*Ancho minimo de 80rem o 100%*/
    margin: 0 auto;
    padding: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--secondary);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.containerInput {
    margin-bottom: 1rem;
}

.containerInput label {
    color: var(--white);
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.3rem;
    text-align: left;
}

.containerInput input,
.containerInput textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    resize: none;
}

.containerInput textarea {
    height: 10rem;
}

.botonForm {
    background-color: var(--secondary);
    border: none;
    color: var(--dark);
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5em 0.25em;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 100%;
}

@media(min-width: 760px) {

    /* Un grid con una fila y dos columnas y dos filas con 1 columna */
    .inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        grid-gap: 1rem;

    }

    .inputs :nth-child(3) {
        grid-column: 1/-1;
    }

    .inputs :nth-child(4) {
        grid-column: 1/-1;
    }

    .botonForm {
        width: 10%;
        display: block;
        background-color: var(--secondary);
        border: none;
        color: var(--dark);
        padding: 1em 1em;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        margin: 0.5em 0.25em;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: 0.4s;
    }

    .botonForm:hover {
        background-color: white;
        color: black;
    }
}

footer{
    color: var(--white);
    text-align: center;
    margin-top: 1.5rem;
}

/*
body{
    margin: 0px;
    text-align: center;
    background-color: #f8efcf;
}

nav{
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1em;    
}

a:hover{
    background-color: red;
}

#Servicios{
    display: flex;
    justify-content: center;
    background-color: #fce79d;
    padding: 1rem;
}

#Servicios p{
    padding: 1rem;
    text-align: justify;
}

#Servicios img{
    width: 100px;
}
*/